* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.quite {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto {
    width: 600px;
}
.imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 250px;
    margin-right: 50px;
}

.menu {
    display: flex;
    justify-content: center;
}

h1 {
    color: #333;
    font-size: 60px;
    font-weight: 500 ;
}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}

p {
    font-size: 17px;
}

button {
    background: #017143;
    color: white;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
}

.logo{
    width: 80px;
}

.starbucks {
    width:340px;
}

.botao-menu {
    width: 60px;
    transition: 1s;
    cursor: pointer;
    margin: 11px;
}

.botao-menu:hover {
    transform: translateY(-55px);
}

.circulo-color { 
    position: absolute;
    width: 100%;
    height: 100%;
    background: #017143;
    top: 0;
    left: 0;
    clip-path: circle(620px at right 800px);
    z-index: -1;
}

